// Placeholder to allow overriding predefined variables smoothly.
// https://github.com/lokallistenlangeland/blog/blob/master/_sass/minima/skins/auto.scss

$background-color:      transparent;
$background-color-alpha: rgba($color: #000000, $alpha: 0.8);
$text-color: white;
$pill-color: #ff0040;

$site-title-color: white;

$link-base-color: #00ff00;


$brand-color: yellow;


$link-visited-color: #0fff00;
$link-hover-color: yellow;
$border-color: #00ff00;