// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
body {
  background-image: url('/media/noise.1.gif');
  background-size: cover;
}
.main {
  background-image: url('/media/noise.2.gif');
  background-size: cover;
  height:100%;
}
.wrapper {
  background-color: $background-color-alpha;
}

.site-header {
  line-height: 54px;
  min-height: auto;
  border: none;
}
.page-content {
  padding: 0 0 0 0;
}

.site-title {
  @include relative-font-size(2.0);
}
.event-post {
  border-top: 2px dotted $border-color;
  border-left: 2px dotted $border-color;
  padding:0 10px;
  h3 {
    font-weight: 700;
  }
  .cover {
    padding: 5px;
  }
  img {
    min-width: 50%;
    max-width: 100%;

  }
}

.meta {
  color: $text-color;
  font-weight: 600;
  .ticketlink {
    margin-left: 0.5em;
    font-size: medium;
    padding: 0 2px;
    border: solid 2px;
    color: yellow;
    font-style: italic;
  }
}
.site-nav { 
  background-color: transparent;
}


.page-link {
  font-weight: 700;
  span {
    padding: 0px 5px;
  }
  border-radius: 5px;
  border: 2px dotted $border-color;
}