---
layout: base
---

<style>
  
</style>

<div class="post">
    <h2>Artists:</h2>

    {%- if site.artists.size > 0 -%}

    <ul class="post-list">
        {%- for artist in site.artists -%}
            <h3>
              <a class="post-link" href="{{ artist.url | relative_url }}">
                {{ artist.title | escape }}
              </a>
            </h3>
            <div class="meta">
                {%- if artist.soundcloudlink -%}
                <a class="artist-link" href="{{ artist.soundcloudlink }}">soundcloud</a>
                {%- endif -%}
                {%- if artist.youtubelink -%}
                <a class="artist-link" href="{{ artist.youtubelink }}">youtubelink</a>
                {%- endif -%}
                {%- if artist.instagramlink -%}
                <a class="artist-link" href="{{ artist.instagramlink }}">instagram</a>
                {%- endif -%}
                {%- if artist.websitelink -%}
                <a class="artist-link" href="{{ artist.websitelink }}"> website</a>
                {%- endif -%}
                {%- if artist.websitelink -%}
                <a class="artist-link" href="{{ artist.websitelink }}"> website</a>
                {%- endif -%}
              {%- if artist.websitelink -%}
              <a class="artist-link" href="{{ artist.websitelink }}"> website</a>
              {%- endif -%}
              {%- if artist.genres.size > 0 -%}
              <ul class="genres-list">
              {%- for genre in artist.genres -%}
              <li class="genre">{{ genre }} </li>
              {%- endfor -%}
            </ul>

              {%- endif -%}


              </div>
              {%- if event.ticketlink -%}
              <a class="ticketlink" href="{{event.ticketlink}}">Tickets</a>
              {%- endif -%}
      
            </div>
      
            {%- if !!event.cover -%}
      
            <img src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}" title="{{ event.title }}">
            {%- endif -%}
            <div class="post-content e-content" itemprop="articleBody">
              {{ event.content }}
            </div>
          </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}
</div>