---
layout: base
---

<style>
</style>

<div class="post">
    <header class="post-header">
        <div class="glitch-wrapper">
            <h1 class="glitch" data-text="{{ page.title | escape }}">{{ page.title | escape }}</h1>
        </div>
    </header>

    {%- if site.artists.size > 0 -%}

    <ul class="post-list">
        {%- for artist in site.artists -%}
        <li class="event-post">
            <a class="post-link" href="{{ artist.url | relative_url }}">
                {{ artist.title | escape }}
            </a>
            {%- if artist.genres.size > 0 -%}
            <span class="genres">Plays:
                {%- for genre in artist.genres -%}
                <div class="genre">{{ genre }}</div>
                {%- endfor -%}
            </span>
            {%- endif -%}
            {%- if artist.cover -%}


            <img class="cover" src="{{ artist.cover | prepend: site.baseurl }}" alt="{{ artist.title }}"
                title="{{ artist.title }}">
            {%- endif -%}
            <ul class="artistlinks">Links:
                {%- if artist.soundcloudlink -%}
                <li class="artistlink"><a  href="{{ artist.soundcloudlink }}">soundcloud</a></li>
                {%- endif -%}
                {%- if artist.instagramlink -%}
                <li class="artistlink"><a  href="{{ artist.instagramlink }}">instagram</a></li>
                {%- endif -%}
                {%- if artist.facebooklink -%}
                <li class="artistlink"><a  href="{{ artist.facebooklink }}">facebook</a></li>
                {%- endif -%}
                {%- if artist.bandcamplink -%}
                <li class="artistlink"><a  href="{{ artist.bandcamplink }}">bandcamp</a></li>
                {%- endif -%}
                {%- if artist.residentadvisorlink -%}
                <li class="artistlink"><a  href="{{ artist.residentadvisorlink }}">residentadvisor</a></li>
                {%- endif -%}
                {%- if artist.youtubelink -%}
                <li class="artistlink"><a  href="{{ artist.youtubelink }}">youtube</a></li>
                {%- endif -%}
                {%- if artist.websitelink -%}
                <li class="artistlink"><a  href="{{ artist.websitelink }}">website</a></li>
                {%- endif -%}
            </ul>

       




            <div class="post-content e-content" itemprop="articleBody">
                {{ artist.content }}
            </div>
        </li>

        {%- endfor -%}
    </ul>

    {%- endif -%}


</div>