<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
  <div class="main">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <span class="author-footer">another website by <a href="https://supernihil.buro.earth">supernihil</a></span>

    </main>
  </div>
</body>

<script>
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  let showOldEvents = params.old;
  if (!showOldEvents) {


    const events = document.getElementsByClassName("event-post")
    const coming = document.getElementsByClassName("coming")
    events.length < coming.length <= 0 ? null : coming[0].style.display = "none";
    console.log(events)
    const now = new Date()
    now.setDate(now.getDate() - 2);

    for (var i = 0; i < events.length; i++) {
      const elm = events[i];
      new Date()
      let parts = elm.getAttribute("x-date")
      console.log(parts)
      if (!!parts) {
        parts = parts.slice(0, 10).split("-").map(x => parseInt(x))
        const date = new Date(parts[0], parts[1] - 1, parts[2]);
        console.log(parts, date, now)
        if (date < now) {
          elm.style.display = "none"
        }
      }


    }
  } else {

  }

</script>

</html>