---
layout: base
---
<script>
    const element = document.getElementById("eventsbutton") 
    console.log(element)
    element.classList.add("selected-page-link");
</script>
<div class="post">


    <ul class="post-list">
        {%- assign year_format = " (%Y) " -%}
        {%- assign date_format = "%-d. %b." -%}
        {% assign sorted = site.events | sort: 'start' | reverse  %}

        {%- for event in sorted -%}
            {%- if event.draft!=true -%}
                <li class="event-post" x-date="{{ event.start }} ">
                    <header class="post-header">
                        <div class="glitch-wrapper">
                          <a  href="{{ event.url | relative_url }}"><h1 class="glitch" data-text="{{ event.title | escape }}">{{ event.title | escape }}</h1></a>
                        </div>
                      </header>
                             
                    <div class="meta">
                        <div class="date">🚀&nbsp;{{ event.start | date: date_format }}&nbsp;@ {{ event.starthour | prepend:
                            '00' | slice: -2, 2
                            }}:00 <i>{{ event.start | date: year_format }}</i>
                        </div>

                        {%- if event.end -%}
                        <div class="date">💥 {{ event.end | date: date_format }}
                            {%- if event.endhour -%}&nbsp;@ {{ event.endhour | prepend: '00' | slice: -2, 2 }}:00
                            {%- endif -%}
                        </div>
                        {%- endif -%}


                        <div class="price">🎫&nbsp; {%- if event.price -%} {{ event.price }}kr {%- else -%} gratis{%- endif
                            -%}
                            {%- if event.ticketlink -%}
                            <a class="ticketlink" href="{{event.ticketlink}}">buy ticket</a>
                            {%- endif -%}
                        </div>

                        <div class="date">📍&nbsp;{{ event.venue }}</div>
                    </div>

                    {%- if event.cover -%}

                    <img class="cover" src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}"
                        title="{{ event.title }}">
                    {%- endif -%}
                    <div class="post-content e-content" itemprop="articleBody">
                        {{ event.content }}
                      </div>
                    
                </li>
            {%- endif -%}

        {%- endfor -%}
    </ul>
    
</div>