---
layout: base
---
<style>
  .banner-img {
    width: 100%
  }
</style>
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {% assign pages = site.pages %}

  {%- for page in site.pages -%}
  {%- if page.title and page.title == "Frontpage" -%}
  <img class="banner-img" src="{{ page.cover }}" alt="" />
  {{page.content}}
  {%- endif -%}
  {%- endfor -%}


  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}


  {%- if site.events.size > 0 -%}
  <div class="glitch-wrapper">
    <h1 class="glitch" data-text="Upcoming events 👇">Upcoming events 👇</h1>
  </div>

  <ul class="post-list">
    {%- assign year_format = " (%Y) " -%}
    {%- assign date_format = "%-d. %b." -%}
    {%- for event in site.events -%}
    {%- if event.draft==true -%}
    {%- else -%}
    <li class="event-post" x-date="{{ event.start }} ">
      <a class="post-link" href="{{ event.url | relative_url }}">
        {{ event.title | escape }}
      </a>
      <div class="meta">
        <div class="date">🚀&nbsp;{{ event.start | date: date_format }}&nbsp;@ {{ event.starthour | prepend: '00' |
          slice: -2, 2
          }}:00 <i>{{ event.start | date: year_format }}</i>
        </div>

        {%- if event.end -%}
        <div class="date">💥 {{ event.end | date: date_format }}
          {%- if event.endhour -%}&nbsp;@ {{ event.endhour | prepend: '00' | slice: -2, 2 }}:00
          {%- endif -%}
        </div>
        {%- endif -%}


        <div class="price">🎫&nbsp; {%- if event.price != 0 -%} {{ event.price }}kr {%- else -%} gratis{%- endif -%}
          {%- if event.ticketlink -%}
          <a class="ticketlink" href="{{event.ticketlink}}">buy ticket</a>
          {%- endif -%}
        </div>

        <div class="date">📍&nbsp;{{ event.venue }}</div>



      </div>

      {%- if event.cover -%}

      <img class="cover" src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}"
        title="{{ event.title }}">
      {%- endif -%}
      <div class="post-content e-content" itemprop="articleBody">
        {{ event.content }}
      </div>
    </li>
    {%- endif -%}

    {%- endfor -%}
  </ul>


  {%- endif -%}

</div>