---
layout: base
---
<style>
  .banner-img {
    width: 100%
  }
</style>
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {% assign pages = site.pages %}

  {%- for page in site.pages -%}
  {%- if page.title and page.title == "Frontpage" -%}
  <img class="banner-img" src="{{ page.cover }}" alt="" />
  {{page.content}}
  {%- endif -%}
  {%- endfor -%}


  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}


  {%- if site.events.size > 0 -%}
  <h2 class="glitchy">Upcoming events 👇</h2>

  <ul class="post-list">
    {%- assign date_format = "%-d %b %Y @ %H:%M" -%}
    {%- for event in site.events -%}
    <li class="event-post" x-date="{{ event.start }} ">
      <h3>
        <a class="post-link" href="{{ event.url | relative_url }}">
          {{ event.title | escape }}
        </a>
      </h3>
      <div class="meta">
        <div class="date">📅 {{ event.start | date: date_format }} 
          {%- if event.end -%} - {{ event.end | date: date_format }}
          {%- endif -%}
        </div>


        <div class="price">🎫&nbsp; {%- if event.price != 0 -%} {{ event.price }}kr {%- else -%} gratis{%- endif -%}
          {%- if event.ticketlink -%}
        <a class="ticketlink" href="{{event.ticketlink}}">buy ticket</a>
        {%- endif -%}
        </div>
        
        <div class="date">📍&nbsp;{{ event.venue }} 

        

      </div>

      {%- if !!event.cover -%}

      <img class="cover" src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}" title="{{ event.title }}">
      {%- endif -%}
      <div class="post-content e-content" itemprop="articleBody">
        {{ event.content }}
      </div>
    </li>
    {%- endfor -%}
  </ul>


  {%- endif -%}

</div>