---
layout: base
---

<style>
  
</style>
<script>
  const element = document.getElementById("releasesbutton") 
  console.log(element)
  element.classList.add("selected-page-link");
</script>

<div class="post">

    {%- if site.releases.size > 0 -%}

    <ul class="post-list">
        {%- for release in site.releases -%}
        <li class="event-post"">

        <header class="post-header">
          <div class="glitch-wrapper">
            <a  href="{{ release.url | relative_url }}"><h1 class="glitch" data-text="{{ release.title | escape }}">{{ release.title | escape }}</h1></a>
          </div>
        </header>

      
            {%- if release.cover -%}
      
            <img src="{{ release.cover | prepend: site.baseurl }}" alt="{{ release.title }}" title="{{ release.title }}">
            {%- endif -%}
            <div class="post-content e-content" itemprop="articleBody">
              {{ release.content }}
            </div>
          </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}
</div>